<!DOCTYPE html>
<html>
<head>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<%= stylesheet_link_tag "ie", :media => :screen %>
<![endif]-->
<title><%= "#{yield :browser_title} - " if content_for? :browser_title %>The Racketeers</title>
<%= stylesheet_link_tag "/compiled/screen", "formatting", :media => :screen %>
<%= stylesheet_link_tag "/compiled/print", :media => :print %>
<%= yield :stylesheets %>
<%= csrf_meta_tag %>
<script type="text/javascript" src="http://use.typekit.com/tqo8cha.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<%= render 'shared/site_bar' %>
<div id="container">
	<header>
		<h1 class="logo"><%= link_to "The Racketeers", root_url %></h1>
		<nav id="navigation">
		<%= link_to "Performances", root_url, :class => selected_if_page('home') %>
		<%= link_to "Ladies", ladies_url, :class => selected_if_page('ladies') %>
		<%= link_to "Gallery", photos_url, :class => selected_if_page('photos') %>
		<%= link_to "Blog", blog_root_url, :class => selected_if_page('blog') %>
		<%= link_to "Contact", '/contact', :class => selected_if_page('contact') %>
		</nav>
	</header>
	<div id="about">
		<p>An all-girl BMX bike dance collective from the streets of Chicago.</p>
		<%= link_to "Book Us!", '/contact', :class => 'book-us' %>
	</div>
	<div id="content">
		<%= yield %>
	</div>
</div>
<%= render 'shared/google_analytics' %>
<%= render 'shared/javascripts' %>
</body>
</html>